<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <style>
    h1{color:brown; text-align: center;}
    p {text-align: center;}
    ul {list-style-type: none; margin: 0; padding: 0;}
    </style>
  <script src="script.js"></script>
</head>
<body>
  <ul>
    <li><a href="home.ejs">Home</a></li>
    <li><a href="services.ejs">Services</a></li>
    <li><a href="contact.ejs">Contact</a></li>
  </ul>
  <h1>Welcome to the Home Page !</h1>
  <p>Un paragraphe est une section de texte en prose vouée au développement d'un point particulier souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant. Sur le plan typographique, le paragraphe est compris entre deux alinéas, qui s'analysent aussi comme une « ponctuation blanche ».</p>
</body>
</html>