<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Service</title>
 <style>
h1{color:brown; text-align: center;}
h2,p {text-align: center;}
.service {display: inline-block; justify-content: space-between; width:25%; margin-left: 2%;margin-right: 2%;}
ul {list-style-type: none; margin: 0; padding: 0;}
</style>
  <script src="script.js"></script>
</head>
<body>
  <ul>
    <li><a href="home.ejs">Home</a></li>
    <li><a href="services.ejs">Services</a></li>
    <li><a href="contact.ejs">Contact</a></li>
  </ul>
  <h1>Our Services</h1>
  <div class="service">  
  <h2>Service 1 </h2>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
</div>
<div class="service">
  <h2>Service 2 </h2>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
</div>
<div class="service">  
  <h2>Service 3 </h2>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
</div>
</body>
</html>