
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Vide</title>
  <style>
    h1{color:brown; text-align: center;}
    </style>
  <script src="script.js"></script>
</head>
<body>

  <h1>No app available at this time!</h1>
</body>
</html>